include *.py
include LICENSE

include *.txt
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include src *.bash
recursive-include src *.conf
recursive-include src *.ics
recursive-include src *.py
recursive-include src *.yaml
recursive-include scripts *.py

include *.rst *.md tox.ini
include requirements.txt
exclude .pre-commit-config.yaml
exclude commits_check_config.yaml
recursive-exclude mtvs *.pyc *~
