tvdb-v4-official==1.1.0
colorama==0.4.6
SQLAlchemy==2.0.25
SQLAlchemy-Utils==0.41.1
mysqlclient==2.2.1
progressbar2==4.3.2
six==1.16.0
httplib2==0.22.0
pyparsing==3.1.1
python-utils==3.8.1
typing_extensions==4.9.0
setuptools==69.0.3
