name: PR Mac Build

permissions:
  contents: write
  packages: write
  issues: read
  checks: write
  pull-requests: write

on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: test with ${{ matrix.py }} on mac
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        py:
          - "3.14"
          - "3.13"
          - "3.12"
          - "3.11"
          - "3.10"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Install prerequisites
        run: |
          brew install mysql-client

      - name: Setup python for test ${{ matrix.py }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.py }}

      - name: Install tox and pex dependencies
        run: |
          python -m pip install --upgrade pip
          export PKG_CONFIG_PATH=$(brew --prefix)/opt/mysql-client/lib/pkgconfig
          export MYSQLCLIENT_LDFLAGS=$(pkg-config --libs mysqlclient)
          export MYSQLCLIENT_CFLAGS=$(pkg-config --cflags mysqlclient)
          python -m pip install pex tox tox-gh setuptools_scm

      - name: Save package version for later
        run: |
          echo "local_version=$(python -m setuptools_scm)" >> $GITHUB_OUTPUT
        id: versioncheck

      - name: Build Software
        run: |
          export PKG_CONFIG_PATH=$(brew --prefix)/opt/mysql-client/lib/pkgconfig
          export MYSQLCLIENT_LDFLAGS=$(pkg-config --libs mysqlclient)
          export MYSQLCLIENT_CFLAGS=$(pkg-config --cflags mysqlclient)
          tox

      - name: Build documentation
        run: |
          export PKG_CONFIG_PATH=$(brew --prefix)/opt/mysql-client/lib/pkgconfig
          export MYSQLCLIENT_LDFLAGS=$(pkg-config --libs mysqlclient)
          export MYSQLCLIENT_CFLAGS=$(pkg-config --cflags mysqlclient)
          tox -e docs

      - name: Build distributable packages
        run: |
          export PKG_CONFIG_PATH=$(brew --prefix)/opt/mysql-client/lib/pkgconfig
          export MYSQLCLIENT_LDFLAGS=$(pkg-config --libs mysqlclient)
          export MYSQLCLIENT_CFLAGS=$(pkg-config --cflags mysqlclient)
          tox -e package

      - name: Verify pex package is runnable
        run: ./dist/missingtvshows_.pex

      - name: Verify package is runnable
        run: |
          export PKG_CONFIG_PATH=$(brew --prefix)/opt/mysql-client/lib/pkgconfig
          export MYSQLCLIENT_LDFLAGS=$(pkg-config --libs mysqlclient)
          export MYSQLCLIENT_CFLAGS=$(pkg-config --cflags mysqlclient)
          pip install -e .
          python scripts/test.py -h
